</main>
<footer>
    <div class="contact-details">
        <p>Academy Address</p>
        <p>Phone: (123) 456-7890</p>
        <p>Email: info@academy.com</p>
    </div>

    <div class="library-hours">
        <p><strong>Library Hours</strong></p>
        <p>Monday - Friday: 9 AM - 6 PM</p>
        <p>Saturday: 10 AM - 4 PM</p>
    </div>

    <div class="helpful-links">
        <a href="#">Academy Website</a>
        <a href="#">Social Media</a>
        <a href="#">Feedback Form</a>
    </div>
</footer>