body {
    background-image: url(../img/bookss);
    background-repeat: no-repeat;
    background-size: cover;
    white-space: normal;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    margin: 5%;
}

form {
    width: 25%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(7, 8, 16, 0.6);
    padding: 50px 35px;
    color: dimgray;
}

form * {
    border: 0;
    outline: 0;
}

label {
    display: block;
    font-size: 1em;
    margin-top: 30px;
    font-weight: 500;
    color: azure;
}

input {
    display: block;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 0 13px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

::placeholder {
    color: dimgray;
}

.divLogin {
    display: flex;
}

.login {
    width: 30%;
    background-color: darkgray;
    backdrop-filter: blur(10px);
    margin: 5%;
    border-radius: 15px;
    color: azure;
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
}

.login:hover {
    background-color: lavender;
    border-radius: 25px;
    color: black;
}

footer {
    display: flex;
    display: grid;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border: 2px inset rgba(255, 255, 255, 0.1);
    color: dimgray;
}

a {
    color: black;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

a:hover {
    color: azure;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}